name: ci

on:
  push:
    paths-ignore:
      - "**.md"
      - LICENCE
      - CODEOWNERS
    branches:
      - master
  pull_request:

jobs:
  test-build:
    runs-on: ktbs-small-runner
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Run Tests
        run: make test
